body{
	font-family: Karla, Times, Ariel;
	margin: 3%;
}

header{
	
}
header h1{
	font-size: 4.5em;
  padding-bottom: 1.0em;
	margin-left: 7%;
}

h3{
	font-size: 2.0em;
}

#profile{
	border-radius: 40%;
	position: absolute;
	top: 2%;
	right:8%;
	float: left;
	height: 22em;
}

section{
	margin-right: 20%;
	margin-left: 20%;
}

section p img{
	height: 20em;
	border-radius: 30%;
}

@media screen and (max-width: 480px){
  #profile {
    border-radius: 40%;
    position: absolute;
    height: 5em;
  }
}

.icon{
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	height: 3em;
}


nav{
	margin-left: 2%;
}
nav h2{
	display: inline-block;
	margin-left: 3%;
	top: 76px;
}


ul li{
	margin-left: 10%;
	margin-right: 10%;
}

code{
	background-color: lightgrey;
  padding: 5%
  right: 10%;
}

code p{
	margin-right: 7%;
	margin-left: 7%;
}


address{
	font-size: 22px;
}

footer{
	margin: 10%;
}

footer p {
	font-size: 1.8em;
}
