body{
	margin: 3%;
}

header h1{
	font-size: 3.0em;
	margin-left: 5%;
}



#profile{
	position: absolute;
	top: 10%;
	right:7%;
	float: left;
	height: 30%;
	border-radius: 40%;
}


.icon{
	display: inline-block;
	margin-left: 90px;
	height: 40px;
	top: 100px;
	left: 0px;
}

.me{
	line-height: 20px;
}

.me p{
	margin-right: 20%;
	margin-left: 8%;
}

nav{
	margin-left: 2%;
}
nav h2{
	display: inline-block;
	margin-left: 3%;
	top: 76px;
}

nav img{
	border-radius: 40%;
	height: 30%;

}

section{
	margin: 50px 100px 0px 100px;;
}

address{
	font-size: 22px;
}

footer{
	margin: 50px 100px 0px 100px;;
}