body{
	font-family: Karla, Times, Ariel
	margin: 3%;
}

header h1{
	font-size: 3.0em;
	margin-left: 5%;
}

#profile{
	position: absolute;
	top: 3%;
	right:7%;
	float: left;
	height: 25em;
	border-radius: 40%;
}

.icon{
	display: inline-block;
	margin-left: 100px;
	height: 50px;
	top: 100px;
	left: 0px;
}

.me{
	line-height: 20px;
}

.me p{
	margin-right: 20%;
	margin-left: 8%;
}

.code img{
	height: 30em;
	border-radius: 0%;
}

nav{
	margin-left: 6%;
}

nav h2{
	display: inline-block;
	margin-right: 3%;
	top: 76px;
}


section{
	margin: 50px 100px 0px 100px;;
}

section img{
	height: 22em;
	width: auto;
}
.code img{
	height: 30em;
	border-radius: 0%;
}

address{
	font-size: 22px;
}

footer{
	margin: 50px 100px 0px 100px;;
}

footer p {
	font-size: 1.8em;
}
