body{
	font-family: Karla, Times, Ariel;
	margin: 1%;
}

	
header{
	margin-right: 8%;
	margin-left: 8%;
	margin-top: 3%;
}


header h1{
	font-size: 6.0em;
}

h1{
	font-size: 3.2em;
}

h2{
	font-size: 2.0em;
}

h4, p{
	font-size: 1.2em;
}

table{
	width: 80%;
} 
tr{
	width: 80%;
}

#profile{
	border-radius: 40%;
	position: absolute;
	top: 2%;
	right:8%;
	float: left;
	height: 17em;
}

@media screen and (max-width: 500px){
	header h1{
		font-size: 2.0em;
	}

	h1, h2{
		font-size: 1.2em;
	}

	h2, h4{
		font-size: 0.8em;
	}

	h4, p{
		font-size: 0.8em;
	}

  #profile{
	display: none;
	}
	/*img{
		height: 3em;
	}
}*/
}

@media screen and (max-width: 1300px){
  	header h1{
	font-size: 3.2em}

	h1, h2{
		font-size: 2.0em;
	}

	h2, h4{
		font-size: 1.2em;
	}

	h4, p{
		font-size: 1.2em;
	}
  #profile{
  	display: none;
	/*border-radius: 45%;
	position: absolute;
	height: 5em;*/
	}
	/*img{
		height: 3em;
	}*/
}

@media (min-width: 1301px) and (max-width: 3000px){
#profile{
	border-radius: 40%;
	position: absolute;
	top: 2%;
	right:8%;
	float: left;
	height: 17em;
}
}

.icon{
	display: inline-block;
	margin-left: 100px;
	height: 50px;
	top: 100px;
	left: 0px;
}



nav h2{
	display: inline-block;
	margin-right: 3%;
}


section{
	margin-left: 8%;
	margin-right: 8%;
}

section img{
	height: 22em;
	width: auto;
}

li{
	font-size: 1.2em;
	line-height: 1.8em;
	margin-left: 5%;
	margin-right: 5%;
}

address{
	font-size: 4em;
}

footer{
	margin: 10%;
}

footer p {
	font-size: 1.8em;
}
